:root {
  --primary-color: #48525d; /* Color principal */
  --secondary-color: #6a71bf; /* Color secundario */
  --background-color: #bebecb; /* Color de fondo */
  --text-color: #333; /* Color del texto */
  --header-color: #FFFFFF; /* Color del encabezado */
  --border-color: #D1D1D1; /* Color del borde */
  --shadow-color: rgba(0, 0, 0, 0.1); /* Color de sombra */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

nav {
  background-color: var(--primary-color);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin: 0; /* Agregamos margin 0 para eliminar espacio adicional */
}

nav ul li a {
  color: var(--header-color);
  text-decoration: none;
  padding: 10px 15px; /* Añadido espacio alrededor de los enlaces */
  transition: background-color 0.3s; /* Transición para efectos hover */
}

nav ul li a:hover {
  background-color: var(--secondary-color); /* Efecto hover */
}

section {
  padding: 20px;
  margin: 20px;
}

h1, h2 {
  color: var(--text-color);
}

.component-container {
  background-color: #deecf7; /* Puedes cambiarlo o hacer uso de una variable */
  border: 1px solid var(--border-color);
  border-radius: 5px; /* Corregido de 5 px a 5px */
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 8px var(--shadow-color);
}

.component-container h2 {
  color: var(--text-color);
}
